:root {
  --prussian-blue: #082235;
  --honey-yellow: #ffb41f;
  --blue-yonder: #476dae;
  --cultured: #f5f6f4;
  --languid-lavender: #d5d3ee;
}

@font-face {
  font-family: lightFont;
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

html {
  overflow: auto;
  background: var(--cultured);
  scroll-behavior: smooth;
}

.bundled {
  background-image: url(./assets/images/waves-modified.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.logo {
  display: block;
  margin: 0;
  width: 100%;
}

.navbar {
  margin-top: 3vh;
  margin-right: 2vw;
  font-family: boldFont;
  color: var(--prussian-blue);
}

.columns {
  width: 100%;
  height: 100%;
}

.projects {
  background-image: url(./assets/images/arriba.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  text-align: center;
}

.inf1 {
  color: var(--prussian-blue);
  font-family: lightFont;
  font-weight: 300;
}

.project {
  width: 80%;
}

.squad {
  margin-top: -1px;
  background-color: var(--languid-lavender);
  text-align: center;
}

input:focus {
  lighting-color: var(--honey-yellow);
  text-decoration-color: var(--honey-yellow);
  outline-color: var(--honey-yellow);
}

.is-contacto {
  background-color: var(--honey-yellow);
}

.squad-logo {
  margin: auto;
  padding: auto;
}

.valor {
  margin-top: -1px;
  background-image: url(./assets/images/abajo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  text-align: center;
}

.respuesta {
  font-family: boldFont;
  color: var(--prussian-blue);
}

.creditos {
  text-align: center;
  margin-bottom: 3vh;
}

.creditos p {
  font-size: 2vh;
}

.big {
  font-family: boldFont;
  color: var(--prussian-blue);
  font-size: 6vh;
}

.team {
  margin-top: 8vh;
  text-align: center;
}

.contacto {
  margin-top: -1px;
  background-image: url(./assets/images/footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.icon {
  color: var(--honey-yellow);
}

.card {
  font-family: lightFont;
  font-weight: 300;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--honey-yellow);
  width: 5px;
}

@media only screen and (max-width: 600px) {
  .bundled {
    background-image: url(./assets/images/waves-modified.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .project {
    width: 100%;
  }

  .columnas {
    margin-left: 0.75rem;
  }

  .projects {
    background-image: url(./assets/images/arriba.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
  }


  .contacto {
    margin-top: -1px;
    background-image: url(./assets/images/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
  }

  .inf1 {
    color: var(--prussian-blue);
    font-family: lightFont;
    font-weight: 300;
    font-size: 3vh;
  }

  .respuesta {
    font-family: boldFont;
    color: var(--prussian-blue);
    font-size: 2vh;
  }

  .big {
    font-family: boldFont;
    color: var(--prussian-blue);
    font-size: 4vh;
  }

  .is-logo {
    width: 100%;
  }

  .columns.is-mobile > .column.is-half {
    flex: none;
    width: 70%;
  }

  .formulario {
    margin-left: 0.375rem;
  }
}
